*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Viga-Regular;
    src: url(../fonts/Viga/Viga-Regular.ttf);
}
@font-face {
    font-family: RobotoMono-Regular;
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}
.container {
    width: 1440px;
    height: 2900px;
    background-image: url(../img/fojn.png);
    margin: 0 auto;
}
.header {
    display: grid;
    height: 110px;
    width: 1440px;
    align-items: center;
    grid-template-columns: 790px 1fr;
    background-color: rgba(255, 255, 255, 0.1);
}
.header_logo {
    margin: 0 342px 0 100px;
}
.header_d {
    display: flex;
    justify-content: end;
    color:white;
    text-decoration: none;
}
.header_logo_name {
    color: white;
    font-size: 64px;
    font-family: Viga-Regular;
}
.anchor {
    color: white;
}
.header_jack {
    color: white;
    font-size: 36px;
    font-family: RobotoMono-Regular;
}
.header_jack1 {
    color: white;
    font-size: 36px;
    font-family: RobotoMono-Regular;
    margin: 0 40px ;
}
.header_jack2 {
    color: white;
    font-size: 36px;
    font-family: RobotoMono-Regular;
    margin-right: 100px;
}
.block_o_nas {
    display: flex;
    justify-content: center;
    color: white;
    font-family: RobotoMono-Regular;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.block_o_nas1 {
    width: 411px;
    height: 655px;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    display: flex;
    position: relative;
    border-left: 5px solid white;
    border-right:2.5px solid white;
    padding-top:40px ;
}
.block_o_nas2 {
    width: 411px;
    height: 655px;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    display: flex;
    position: relative;
    border-left: 2.5px solid white;
    border-right: 2.5px solid white;
    padding-top:40px ;
}
.block_o_nas3 {
    width: 411px;
    height: 655px;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    display: flex;
    position: relative;
    border-left: 2.5px solid white;
    border-right: 5px solid white;
    padding-top:40px ;
}
.block_o_nas_img {
    width: 108px;
    height: 108px;
    border-radius: 50px;
}
.block_txt{
    padding: 35px;
    text-align: justify;
    font-size: 24px;
}
.block_company {
    width: 1133px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: RobotoMono-Regular;
    font-size: 20px;
    border-radius: 10px;
    margin: 35px 0;
    line-height: auto;
    color: #000000;
    text-align: justify;
}
.block_company p{
    margin: 15px;
}
.block__company{
    display: flex;
    justify-content: center;
}
.projects {
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project_img {
    width: 351px;
    height: 180px;
    border-radius: 10px;
}
.project_name {
    font-family: RobotoMono-Regular;
    font-size: 25px;
    color: black;
    margin-bottom: 12px;

}
.project_txt{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: robotomono-regular;
    margin-left: 50px;
    width: 680px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
}
.project{
    display: flex;

}
.prj{
    display: flex;
}
.prj_arrow{
    margin-top: 50px;
    margin-left:15px ;
}
.projects_details{
    width: 351px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    border-radius: 10px;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 154px;
}
.footer {
    /* background-color: aqua; */
    display: flex;
    height: 300px;
    align-items: center;
    margin: 0;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.contacts{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 773px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-left: 50px;
}
.cont_img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
}
.cont_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: #000000;
    font-family: robotomono-regular;
    font-size: 24px;
    margin-left: 15px;
}
a{text-decoration: none;
color: #000000;}
.cont_img img{
    width: 60px;
    height: 60px;
    /* margin-left: 0; */
}
.sharaga{
    width: 310px;
    height: 230px;
    border-radius: 40px;
    margin-left: 154px;
    /* margin-top: 35px; */
}
.img_quadro{
    border-top: solid white;
    border-bottom: solid white;
}
