* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Europe", sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.5;
}

.header {
  background-color: #0A2648;
  color: #ffffff;
  height: auto;
  padding-bottom: 45px;
}

.header_tt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 214px;
  height: 90px;
  margin: 40px 0 40px 46px;
}

.contact-phone {
  margin-right: 50px;
  font-size: 32px;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 83px;
  flex-wrap: wrap;
  margin: 27px auto 122px auto;
}

.top-nav a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: color 0.3s;
}

.top-nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #008DD2;
  transition: width 0.3s;
}

.top-nav a:hover {
  color: #008DD2;
}

.top-nav a:hover::after {
  width: 100%;
}

.search {
  margin-left: 30px;
}

.header h1 {
  font-size: 64px;
  max-height: 72px;
  display: flex;
  margin-left: 250px;
  text-align: center;
}

.header p {
  display: flex;
  max-width: 1085px;
  margin: 30px auto 51px 250px;
  font-size: 26px;
  text-align: start;
}

.cta-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  gap: 2%
}

.downloadBtn {
  background-color: #008DD2;
  color: #ffffff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
}

.downloadBtn:hover {
  background-color: #00aaff;
}

.infographic {
  margin: 0 auto;
  padding: 80px 0;
  font-size: 60px;
  margin-left: 250px;
}

.infographic h2 {
  margin-bottom: 60px;
}

.infographic_txt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
}

.infographic_block {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 26px;
}

.infographic_img {
  width: 118px;
  height: 125px;
  object-fit: contain;
  margin-bottom: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 180px auto 267px auto;

}

.about h2 {
  font-size: 56px;
  margin-bottom: 60px;
  margin-left: 250px;
}

.about-content {
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
  margin: 0 auto;
}

.about-left {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.about-left img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.about-left p {
  margin: 35px 0;
  line-height: 1.6;
  font-size: 26px;
}

.about-left .bid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 10px;
  font-size: 24px;
  border: none;
  color: #fff;
  background: #005CAE;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 35px;
  transition: background 0.3s;
}

.about-left .bid:hover {
  background-color: #007ae5;
}

.about-right {
  display: flex;
  flex-direction: column;
  width: 750px;
  line-height: 1.6;
  font-size: 26px;
}

.about-right p {
  margin-bottom: 35px;
}

.bid {
  align-self: flex-start;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: #005CAE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.bid:hover {
  background-color: #007ae5;
}

h3 {
  font-size: 52px;
  color: #005AA5;
  margin-left: 250px;
  margin-bottom: 140px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 40px 10px;
  justify-content: center;
  gap: 2%;
}

.product-grid {
  margin-bottom: 98px;
}

.product-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 60px;
  max-width: 1600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-txt {
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 48px;
  color: #000000;
  margin-bottom: 7px;
}

.product-card p {
  font-size: 26px;
  margin: 35px auto;
}

.product-card img {
  width: 543px;
  max-width: 510px;
  object-fit: contain;
  border-radius: 10px;
  margin-right: 156px;
}

.footer {
  background-color: #f6f8fa;
  padding: 120px 0;
}

.contact-section {
  display: flex;
  align-items: flex-start;
  margin-left: 250px;
  justify-content: space-between;
}

.contact-title {
  font-size: 48px;
  color: #000;
  flex-shrink: 0;
  line-height: 1.2;
}

.contact-columns {
  display: flex;
  gap: 50px;
  margin: auto 73px auto 338px;
}

.contact-column {
  display: flex;
  flex-direction: column;
  gap: 45px;
}


.contact-card {
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-size: 24px;
  color: #000;
  max-width: 500px;
  min-width: 145px;
}

@media (min-width: 1441px) and (max-width: 1700px) {
  .about-content {
    gap: 50px;
  }

  .block_1,
  .block_2 {
    width: 600px;
  }

  .block_1 img {
    width: 600px;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .products {
    gap: 3%;
    padding: 40px 50px;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .footer {
    padding: 70px;
  }

  h3 {
    margin-left: 120px;
    margin-right: 160px
  }

  .products {
    gap: 3%;
    padding: 40px 50px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-section {
    flex-direction: column;
    margin-left: 0;
  }

  .contact-title {
    margin-bottom: 80px;
    font-size: 48px;
    margin-left: 120px;
  }

  .contact-columns {
    margin: 0 auto;
    gap: 50px;
    display: flex;
  }

  .contact-card {
    max-width: 440px;
    font-size: 22px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .header h1 {
    font-size: 52px;
    margin-left: 120px;
  }

  .header p {
    font-size: 22px;
    margin-left: 120px;
  }

  .cta-buttons {
    margin-left: 120px;
  }

  .top-nav {
    gap: 60px;
  }

  .infographic {
    font-size: 48px;
    margin-left: 120px;
  }

  .infographic_txt {
    gap: 4%
  }

  .about {
    margin: 150px auto 60px;
  }

  .about h2 {
    margin-left: 120px;
  }

  .about-content {
    gap: 80px;
    display: flex;
    padding: 0 30px;
  }

  h3 {
    margin-left: 120px;
    margin-right: 80px
  }

  .products {
    gap: 3%;
    padding: 40px 40px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-section {
    flex-direction: column;
    margin-left: 0;
  }

  .contact-title {
    margin-bottom: 80px;
    font-size: 48px;
    margin-left: 80px;
  }

  .contact-columns {
    margin: 0 auto;
    gap: 50px;
    display: flex;
  }

  .contact-card {
    max-width: 440px;
    font-size: 22px;
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .logo {
    margin: 20px 0 20px 25px;
  }

  .contact-phone {
    margin-right: 25px;
    font-size: 26px;
  }

  .top-nav {
    gap: 40px;
    margin-bottom: 80px;
  }

  .header h1 {
    font-size: 44px;
    margin-left: 80px;
  }

  .header p {
    font-size: 20px;
    margin-left: 80px;
  }

  .cta-buttons {
    margin-left: 80px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .infographic {
    margin-left: 80px;
  }

  .infographic_txt {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .infographic_block {
    width: 100%;
  }

  .about {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .about h2 {
    margin-left: 80px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .about-left,
  .about-right {
    width: 100%;
    max-width: 750px;
  }

  .about-left img {
    width: 100%;
  }

  h3 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .products {
    gap: 3%;
    padding: 40px 40px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-title {
    margin-bottom: 80px;
    font-size: 48px;
    margin-left: 80px;
  }

  .contact-columns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    max-width: 440px;
    min-width: 145px;
    font-size: 22px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding-bottom: 30px;
  }

  .header_tt {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-phone {
    margin: 10px 0;
    font-size: 20px;
  }

  .search {
    display: none;
  }

  .top-nav {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 60px;
  }

  .header h1 {
    font-size: 38px;
    margin: 100px 80px;
    text-align: left;
  }

  .header p {
    font-size: 18px;
    margin: 20px 80px;
    text-align: left;
  }

  .cta-buttons {
    justify-content: center;
    margin: 0 auto;
  }

  .infographic {
    margin-left: 80px;
  }

  .infographic_txt {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .about h2 {
    margin-left: 80px;
  }

  .about-left,
  .about-right {
    width: 500px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .bid {
    align-self: center;
  }

  h3 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .products {
    gap: 3%;
    padding: 40px 40px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 500px
  }

  .product-card img {
    width: 450px;
    height: 350px;
    object-fit: contain;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-title {
    margin-bottom: 80px;
    font-size: 48px;
    margin-left: 80px;
  }

  .contact-columns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    max-width: 460px;
    padding: auto 50px;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .header_tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .contact-phone {
    margin: 10px 0;
    font-size: 20px;
  }

  .top-nav {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 60px;
  }

  .search {
    display: none;
  }

  .header h1 {
    font-size: 28px;
    display: flex;
    margin: 0 20px;
  }

  .header p {
    font-size: 16px;
    margin: 20px 20px;
  }

  .downloadBtn {
    display: flex;
    width: 90%;
    font-size: 18px;
    align-items: flex-start;
  }

  .infographic {
    margin-left: 40px;
  }

  .infographic_txt {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .about h2 {
    margin-left: 40px;
  }

  .about img {
    width: 350px;
  }

  .about-left,
  .about-right {
    width: 350px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .bid {
    width: 100%;
  }

  h3 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .products {
    gap: 5%;
    padding: 40px auto;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .product-card img {
    width: 260px;
    height: 150px;
    object-fit: contain;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-title {
    margin-bottom: 80px;
    font-size: 48px;
    margin-left: 80px;
  }

  .contact-columns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    max-width: 360px;
    padding: auto 10px;
    font-size: 22px;
  }
}
